/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para el cuerpo */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  /* Header */
  header {
    text-align: center;
    background-color: #7695FF;
    color: rgb(150, 44, 44);
    padding: 50px;
    border: solid #FABC3F;
    margin-bottom: 10px;
  }

  .wh{
    color: white;
    background-color: #7695FF;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  /* Productos */
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    border:  solid #A1D6B2;
  }
  
  .product {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 25%;
    border: solid #229799;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  button.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button.add-to-cart:hover {
    background-color: #218838;
  }
  
  /* Footer */
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilos para el carrito */
  #cart {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  #cart h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  #cart li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  
  #cart p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  #total-price {
    font-weight: bold;
    color: #333;
  }
  
  /* Adaptación para pantallas pequeñas */
  @media (max-width: 768px) {
    .product {
      width: 100%;
    }
  
    h1 {
      font-size: 20px;
    }
  }
  